:host {
  display: block;
}

svg {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
}

path {
  fill-rule: evenodd;
  stroke: rgba(2, 6, 23, 0.4);
  /* bg-slate-950/40 */
  stroke-width: 1.5;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes draw-arc {
  from {
    stroke-dashoffset: 200;
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

path.selected {
  opacity: 1 !important;
  stroke: #ffffff;
  stroke-width: 2.5;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
  transform: scale(1.02);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoom-in-95 {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}

.zoom-in-95 {
  animation-name: zoom-in-95;
}